canvas{position: fixed;
    left: 0;
    top: 0;
    z-index: -1;
}

p {
    color: purple;
    font-size: 30px;
}

.special { font-size: 150px;
    color: red;
}
time {font-size: 70px; color: black;}

h1 {
    font-size:150px;
    color: pink
}
h2{
    font: size 90px;
    color: aquamarine;

}
h3{
    color: cornflowerblue;
}